<h1 mat-dialog-title>Transferir documento</h1>
<h2>Selecione o currency</h2>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>currency</mat-label>
    <input type="text"
           cdkFocusInitial
           placeholder="Selecione um currency"
           matInput
           [formControl]="currencyControl"
           [matAutocomplete]="currencyAuto">
    <mat-autocomplete #currencyAuto autoActiveFirstOption
                      [displayWith]="displayFn">
      <mat-option *ngFor="let currency of currencyes" [value]="currency">
        {{currency.nome}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<h2>Selecione a quotation</h2>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>quotation</mat-label>
    <input type="text"
           placeholder="Selecione uma quotation"
           matInput
           [formControl]="quotationControl"
           [matAutocomplete]="quotationAuto">
    <mat-autocomplete #quotationAuto autoActiveFirstOption
                      [displayWith]="displayFn">
      <mat-option *ngFor="let quotation of quotations" [value]="quotation">
        {{quotation.nome}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()">cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="({currency: currencyControl.value, quotation: quotationControl.value, documento: data})"
          [disabled]="quotationControl.value && !quotationControl.value.id">
    transferir
  </button>
</div>
